#main {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

#title {
    background-color: lightgray;
    padding: 15px 0px;
    margin: 0px 50px;
    color: #250000;
}

h1 {
    font-size: 50px;
}

#img-caption {
    font-size: 17px;
}
